#navbar {
    .navbar-brand {
        >img {
            display: inline-block;
            width: 38px;
            height: 40px;
            position: relative;
            top: 55%;
            transform: translateY(-50%);
        }
        span {
            vertical-align: top;
        }
    }
}
