.body-home .jumbotron {
  display: grid;
  gap: 20px;
  margin: 88px 16px 20px;
  grid-template-rows: 200px 156px;
  grid-template-areas:
    'main main'
    'second third';
}
.body-home .hero-caro {
  margin: 0px 16px 20px;
  text-align: center;
}

.body-home .main_img {
  background-color: #bce0fd;
  grid-area: main;
}
.body-home .second_img {
  background-color: #bce0fd;
  grid-area: second;
}
.body-home .third_img {
  background-color: #bce0fd;
  grid-area: third;
}
